.env
cryptoalarm-app/python/config.json
cryptoalarm-app/python/cryptoalarm/__pycache__/*
volumes/*
!volumes/storage

volumes/storage/*
!volumes/storage/framework

volumes/storage/framework/*
!volumes/storage/framework/cache
!volumes/storage/framework/README.md
!volumes/storage/framework/cache/data

